.sign-form-wrap {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    min-width: 200px;
    max-width: 500px;
    .sign-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        strong {
            font-size: 25px;
            margin-bottom: 10px;
        }
        input {
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 3px;
            border:1px solid #ccc;
            outline: none;
            font-size: 15px;
        }
        button {
            margin-bottom: 10px;
            padding: 15px 45px;
            align-self: flex-start;
            background-color: cornflowerblue;
            color: #fff;
            border-radius: 3px;
            border: none;
            outline: none;
        }
        p {
            font-size: medium;
        }
    }
}