.game {
    margin: 5px;
    display: block;
    .game-img {
        img{
            border: 1px solid black;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            &:hover{
                border: 1px solid blue;
            }
        }
    }
}