.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    .user-img {
        img{
            width: 100%;
            height: 100%;
        }
    }
    .user-info {
        border: 1px solid black;
        background: white;
    }
}