.modal-content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mod-panel1{
  flex-direction: row;
  justify-content: space-between;
}

.mod-panel2{
  border: 1px solid black;
}


.game-info{
  text-align: center;
}

.host-info{

}
