.room {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background-color: darkslategrey;
    .room-title{
        text-align: center;
    }
    .room-img {
        img{
            max-width: 100%;
            max-height: 100%;
            width: auto;
        }
    }
    .room-players{
        text-align: center;
    }
}