.game-room {
    text-decoration: underline;
    display: block;
    border: 1px solid black;
    width: 50%;
    height: 100vh;
    .rooms {
        display: flex;
        justify-content: space-between;
    }
}